.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.rootMenu {
  width: 100%;
  /* max-width: 200px; */
}
.rootBusyBox {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0
  /* max-width: 200px; */
}
.rootMenu button {
  /* width: 100%; */
  /* max-width: 200px; */
}
.level1 {
  
}
.level2 {
  
}